@(error: String)
@import collection.convert.WrapAsJava

@main("XSL Tester") {
    <script>
            var url = "@error";
    </script>
        <div id="xmleditor"></div>
        <div id="xsleditor"></div>
        <div id="resulteditor"></div>

            <form id="files" method="post" style="display: none;">
                <textarea id="xml" name="xml"></textarea>
                <textarea id="xsl" name="xsl"></textarea>
                <textarea id="result" name="result"></textarea>
            </form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script src="//d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
}
