@(id: String = "", revision: Int = 0, engine: String = "Saxon12")(implicit request: Http.Request)

@main("XSL Transform") {
    <script>
        var id = "@id";
        var revision = "@revision";
        var engine = "@engine";
    </script>

    <div class="inner">
        <div id="xmleditor"></div>
        <div id="xsleditor"></div>
        <div id="result-window">
            <div id="resulteditor"></div>
            <div id="resultview" style="display: none;">
                <iframe name="resultview" src="about:blank"></iframe>
            </div>
            <div id="editorButton" class="label-editor active">Result</div>
        </div>

        <form id="files" method="post" style="display: none;" action="/pdf" target="resultview">
            <input type="hidden" id="id_slug" name="id_slug" value="@id">
            <input type="hidden" id="revision_id" name="revision_id" value="@revision">
            <input type="hidden" id="engine" name="engine" value="@engine">
            <textarea id="xml" name="xml"></textarea>
            <textarea id="xsl" name="xsl"></textarea>
            <textarea id="result" name="result"></textarea>
        </form>
    </div>
}
