@(error: String)
@import collection.convert.WrapAsJava

@main("XSL Tester") {

        <div id="xmleditor"></div>
        <div id="xsleditor"></div>
        <div id="resulteditor"></div>

        <div id="actions">
            <form id="files" method="post" style="display: none;">
                <textarea id="xml" name="xml"></textarea>
                <textarea id="xsl" name="xsl"></textarea>
                <textarea id="result" name="result">@error</textarea>
            </form>
            <a id="transform">Transform</a>
            <br/>
            <a id="pdf">Result 2 PDF</a>
        </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script src="//d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Application.jsRoutes()" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/script.js")" type="text/javascript" charset="utf-8"></script>

    
}
