@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
    <title> @title </title>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/github.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">

                <a class="brand" href="@routes.Application.index()"> <i class="icon-cogs icon-large"></i> @title </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li> <a id="new"> <i class="icon-file icon-large"></i> <span> New </span> </a> </li>
                        <li> <a id="save"> <i class="icon-save icon-large"></i> <span> Save / Update </span> </a> </li>
                        <li> <a id="autotransform"> <i class="icon-check icon-large"></i> Autotransform </a> </li>
                        <li> <a id="transform"> <i class="icon-cogs icon-large"></i> Transform </a> </li>
                        <li> <a id="pdf"> <i class="icon-file icon-large"></i> PDF </a> </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-share"></i> Share <b class="caret"></b> </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="addthis_button_facebook">
                                        <i class="icon-facebook-sign icon-large"></i> Facebook
                                    </a>
                                </li>
                                  <li>
                                    <a class="addthis_button_twitter">
                                        <i class="icon-twitter-sign icon-large"></i> Twitter
                                    </a>
                                </li>
                                  <li>
                                    <a class="addthis_button_google_plusone_share">
                                        <i class="icon-google-plus-sign icon-large"></i> Google+
                                    </a>
                                </li>
                                  <li>
                                    <a class="addthis_button_linkedin">
                                        <i class="icon-linkedin-sign icon-large"></i> LinkedIn
                                    </a>
                                </li>
                                <li> <a id="copyclipboard" data-clipboard-text=""> <i class="icon-copy icon-large"></i> Clipboard </a> </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li> <a href="//github.com/joepjoosten/XSL-Tester"> <i class="icon-github icon-large"></i> Fork me! </a> </li>
                        <li class="ihomer"> <a href="http://www.ihomer.nl" target="_blank" title="IHomer: een beetje anders, een groot verschil"> <img width="20px" src="@routes.Assets.at("images/ihomer.svg")" /> </a> </li>
                    </ul>
                </div> <!-- /.nav-collapse -->
            </div> <!-- /.container -->
        </div> <!-- /.navbar-inner -->
    </div> <!-- /.navbar -->
    <div class="alert alert-error hide fade in" id="alert"> <a class="close" data-dismiss="alert" href="#"> &times; </a>
        <h4></h4>
        <p></p>
    </div>
    <div class="content-container">
        @content
    </div>
    <script src="@routes.Application.jsRoutes()" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/zero-clipboard.min.js")"></script>


    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>


    <script>
        var addthis_config = {
            data_track_clickback: false
        };
        var addthis_share = {
            templates: {
                twitter: '{{url}}'
            }
        };
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-512caf1a049e482a"></script>


    <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-2674150-3']);
            _gaq.push(['_trackPageview']);
            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

    </script>
</body>
</html>
